@model ProductDetailsViewModel
@{
	ViewData["Title"] = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-3">
		<partial name="_SidebarPartial" />
	</div>

	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<div class="col-sm-5">
				<div class="view-product">
					<img src="~/media/products/@Model.ProductDetails.Image" alt="@Model.ProductDetails.Name" width="100px" height="200px" />
					<h3>ZOOM</h3>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="product-information">
					<h2>@Model.ProductDetails.Name</h2>
					<span>
						<span>@Model.ProductDetails.Price.ToString("#,##0 VNĐ")</span>
						<label>Quantity:</label>
						<input type="number" value="1" min="1" class="form-control" />
						<button type="button" class="btn btn-default cart">
							<i class="fa fa-shopping-cart"></i> Add to cart
						</button>
					</span>
					<p><b>Availability:</b> @(Model.ProductDetails.Quantity > 0 ? "In Stock" : "Out of Stock")</p>
					<p><b>Category:</b> @Model.ProductDetails.Category?.Name</p>
				</div>
			</div>
		</div>

		<div class="category-tab shop-details-tab">
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
					<li><a href="#related" data-toggle="tab">Related Products</a></li>
					<li><a href="#reviews" data-toggle="tab">Reviews</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="details">
					@Html.Raw(Model.ProductDetails.Description)
				</div>
				<div class="tab-pane fade" id="related">
					@if (ViewBag.RelatedProducts is IEnumerable<ProductModel> relatedProducts && relatedProducts.Any())
					{
						foreach (var p in relatedProducts)
						{
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a asp-action="Details" asp-controller="Product" asp-route-Id="@p.Id">
												<img src="~/media/products/@p.Image" alt="@p.Name" width="100px" height="200px" />
												<h2>@p.Price.ToString("#,##0 VNĐ")</h2>
												<p>@p.Name</p>
												<p>Danh mục: @p.Category?.Name</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						}
					}
					else
					{
						<p>Không có sản phẩm đề xuất.</p>
					}
				</div>
				<div class="tab-pane fade" id="reviews">
					<div class="col-sm-12">
						<form asp-action="CommentProduct" asp-controller="Product" method="POST">
							<input type="hidden" name="ProductId" value="@Model.ProductDetails.Id" />
							<input type="hidden" name="Star" value="4" />
							<input name="Name" type="text" placeholder="Your Name" class="form-control" />
							<input name="Email" type="email" placeholder="Email Address" class="form-control" />
							<textarea name="Comment" placeholder="Your review..." class="form-control"></textarea>
							<button type="submit" class="btn btn-default pull-right">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
